@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .menu-icon {
        position: absolute;
        left: -20px;
        top: 27px;
    }

    .logo {
        position: static; 
        margin: 10px 0;
    }

    .logo img {
        max-height: 100px;
        max-width: 100px;
        width: 121px;
    }

    header.header-ecommerce{
        padding-bottom: 120px;
        background-color: #fff;
        margin: 0px 0px -60px;
        border-bottom: #fff;
    }

    .user-icons .user-icon {
        position: absolute; 
        right: 50px;
        top: 30px;
    }

    .user-icons .cart-icon {
        position: absolute; 
        right: 0px;
        top: 30px;
    }

    ul.shopping {
        margin-top: 70px;
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 20px; 
        padding: 0 10px;
    }

    ul.shopping li {
        text-align: center; 
    }

    .product-images-swap img {
        max-width: 100%; 
        height: auto;
    }

    .product-images-swap .back-image {
        display: none; 
    }

    .footer-instagram {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.footer-info ul {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        gap: 10px;
        list-style: none; 
        padding: 0;
        margin: 0;
        text-align: center; 
    }

    div.footer-info .separator {
        display: inline; 
        color: #212121; 
    }

    .footer-copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


body {
    color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.scroll-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    border-radius: 100%;
    cursor: pointer;
    display: flex; 
    opacity: 0; 
    transform: translateY(70px); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.scroll-top.show {
    display: flex; 
    opacity: 1; 
    transform: translateY(0px); 
}

.menu-icon {
    padding: 0px 30px;
    font-size: 30px;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-height: 45px;
    justify-content: center;
    width: 121px;
    vertical-align: top;
}

.user-icons {
    display: flex;
    align-items: center;
}

.user-icon, .cart-icon {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}

.cart-count {
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    position: relative;
    top: -10px;
    left: -10px;
}

.imagem-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.imagem-principal img {
    width: 100%;
    max-width: 1600px;
    height: auto;
}

.header-ecommerce{
    padding-bottom: 80px;
    background-color: #ffffff;
    margin: 0px 0px -60px;
    border-bottom: #ffffff;
}

.shopping {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); 
    gap: 30px; 
    padding: 0;
    list-style: none; 
    margin: 20px;
    justify-items: center; 
    
}

.shopping li {
    text-align: center; 
    border: 0px solid #ddd; 
    padding: 10px;
    border-radius: 0px; 
    border: #ffffff;
    background-color: #fff; 
}

.shopping li img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

.shopping .product_title {
    display: block;
    font-size: 16px;
    font-family: Roboto Mono, monospace;
    font-weight: 400;
    color: #333;
    text-decoration: none;
}

.shopping .price {
    font-size: 16px;
    font-family: Roboto Mono, monospace;
    font-weight: 600;
    color: #000;
}

.sold-out-or-not {
    font-family: Roboto Mono, monospace;
    display: block; 
    font-size: 14px; 
    color: gray; 
    margin-top: 25px;
    font-weight: 700;
}

.product-images-swap img {
    width: 100%;
    height: auto;
}

.product-images-swap .back-image {
    display: none; 
}

.footer-instagram{
    display: flex;
    justify-content: center;
    justify-items: center; 
    align-items: center;
}

.footer-instagram .logo {
    max-width: 20px;
    max-height: 20px;
}

.footer-info ul {
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none; 
    padding: 0px 20px;
    margin: 30px;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    color: #000;
}

.footer-info .cnpj,
.footer-info .email {
    margin: 0px 0px; 
    text-decoration: none; 
    color: #212121; 
}

.footer-info .separator {
    margin: 0 0px; 
    color: #ffffff; 
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
}

.frete-gratis {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    z-index: 1000; 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    margin: 0px;
}

.frete-gratis.hidden {
    transform: translateY(100%); 
    opacity: 0; 
}

.close-popup {
    margin-left: 20px; 
    font-family: Roboto Mono, monospace;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.736);
    font-size: 16px;
    cursor: pointer;
}